/* You can add global styles to this file, and also import other style files */
/*header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }*/

  body{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background: linear-gradient(to bottom, rgba(107, 153, 142, 0.8) 0%, rgba(103, 158, 145, 0.8) 100%), url("~/assets/Img/background2.png");
    /*background: url("~/assets/Img/background2.png");*/
    color:darkslategrey;
  }